* {
  margin: 0;
  padding: 0;
  background-color: rgb(216, 210, 210);
}
.container {
  display: flex;
}
.con {
  margin: 20px;
  width: min-content;
}
img {
  border-radius: 100%;
}
.textcon {
  background-color: antiquewhite;
}
